{
  "extends": "airbnb-base/legacy",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "linebreak-style": "off",
    "indent": [ "error", 2 ],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }]
  }
}